* {
    font-family: Quicksand;
    font-size: 16px;
    color: #333;
  }
  
  body {
    margin: 0;
    height: 100vh;
    padding: 0;
    border: 0;
    background: linear-gradient(to bottom right,  #F1F2B5, #eef2f3);
  }

  .container {
    background-color: #fff;
    height: 500px;
    width:  500px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    display: block;
    border: solid 1px #289df6;
    box-shadow: 0 0 40px 0 #ddd;
  }
  
  .container:hover {
    box-shadow: 0 0 60px 0 #ccc;
    transition: .4s;
    transform: scale(1.02);
  }

  .row-two {
    padding: 20px;
  }
  
  .text-input {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: #dbeffe;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .text-input:last-child {
    margin-bottom: 35px;
  }
  
  .text-input:hover {
    background-color: #cbe7fd;
  }
  
  #submit {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 190px;
    background-color: #289df6;
    color: #fff;
    margin: auto;
    display: block;
    outline: none;
    cursor: pointer;
  }
  
  #submit:hover{
    background-color: #0a8ef2;
  }
  
  .text {
    display: inline-block;
    margin: 45px 20px 5px 25px;

  }
  
  
  .row-two {
    padding: 15px 20px 30px 20px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    color: crimson;
  }

  h2 {
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    color: brown;
  }
  
  